@page "/counter"
@using TestGrpcService
@inject Greeter.GreeterClient _client

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        var response = _client.SayHello(new()
        {
            Name = "Test"
        });
        Console.WriteLine("Message from gRPC");
        Console.WriteLine(response.Message);
    }
}
